#main-blog {
    button {
        i {
            color: rgb(0, 0, 0);
            font-size: 70px;
        }
        background: none;
        border: 0;
        padding: 40px;
    }
    p {
        color: black;
        font-weight: 500;
    }
}